__pycache__
.DS_Store
SLiM/.DS_Store
SLiM/.DS_Store
SLiM/doc/*
SLiM/genome_features
SLiM/results
SLiM/src/combine_sfs.py
SLiM/src/expected_snps.py
SLiM/src/run_slim.sh
results/*
doc
data
.vscode/
SFS_estimator_bias_variance_[original_Jody].py
slim/expected_snps/
slim/models/olds/
