// usage: 
// slim -s <SEED> -d simu=<sim number> -d MU=<MU RATE> -d R=<R RATE> \
//      -d N=<POPSIZE> -d L=<CHR LENGTH> -d Ns=<NS> -d n=<SAMPLE SIZE> \
//      -d intronL=<INTRON LENGTH> -d exonL=<EXON LENGTH> \
//      -d o=<OUTPUT DIR>  models/iexpansion.slim 

// set up a simple neutral simulation
initialize() {
	
	// UPLOAD FUNCTIONS - THIS DOES NOT CHANGE
	source("/Users/tur92196/WorkDir/prfratio/slim/src/slim_fun.eidos");
	
	// FOR DEBUGGING ONLY
	//defineGlobal("seed", 123456);
	//defineGlobal("simu", 1);
	//defineGlobal("MU", (1e-6/4));
	//defineGlobal("R", (1e-6/4));
	//defineGlobal("N", 1000);
	//defineGlobal("L", 10000);
	//defineGlobal("Ns", -0.02);
	defineGlobal("intronL", 810); // at this point, it doesn't matter the size 
	defineGlobal("exonL", 324);
	//defineGlobal("n", 40);
	//defineGlobal("outDir", "/Users/tur92196/WorkDir/prfratio/SLiM/results/prfratio/iexpansion/fixed/-0.02"); // change this to a working dir when testing ouput
	//defineGlobal("outDir", "results/prfratio/iexpansion/fixed/-0.02"); // change this to a working dir when testing ouput	
	defineGlobal("Nx", asInteger(N*10));
	
	// FOR DEBUGGING
	// Track pedigree
   //initializeSLiMOptions(keepPedigrees=T);
	
	// Arguments are parsed from command line
	//setSeed(seed);
	defineGlobal("basename", paste0(simu + "_" + getSeed())); // This is for the simplified output file naming
	initializeMutationRate(MU);
	initializeMutationType("m1", 0.5, "f", 0.0);     // neutral mutations in introns
	initializeMutationType("m2", 0.5, "f", Ns/N);    // non-neutral mutations in exons; Ns/N to get s from Ns
	m1.convertToSubstitution = F;
	m2.convertToSubstitution = F;
	
	initializeGenomicElementType("g1", m1, 1);
	initializeGenomicElementType("g2", m2, 1);
	
   // Test if the sample size n is higher than the population size
   if (n > Nx)
       stop("Sample size n can't be larger than the population size after the expansion Nx!!!");	
	
	//	Generates intron/exons pairs programatically
	base=0;
	while (base < L) {    
	    
       if ((L-1) - base < (intronL + exonL)){
           
           // Make one intron to fill the remaning gap  
		     initializeGenomicElement(g1, base, (base + ((L-1) - base)));
       
       }	else {
           // Make one intron & exon pair   
		     initializeGenomicElement(g1, base, (base + intronL - 1));
		 
		     //exon_length = exonL;
		     initializeGenomicElement(g2, (base + intronL), (base + intronL + exonL - 1));
       
       }    
	    
	    // Update base length
       base = base + intronL + exonL;	
	}// end of while
	
	
	// single recombination rate	
	initializeRecombinationRate(R);
}

// Create a population of size N individuals
1 late() {
	sim.addSubpop("p0", N);
	
	// DEBUGGING ONLY	
	//p0.setValue("previous_N", p0.individualCount);
	
	// Create a log file to track changes in population size for debugging only
   //log = community.createLogFile(paste0(outDir + "/" + basename + "_Ne_log.csv"), logInterval=1);
	//log.addCycle();
	//log.addCustomColumn("N(t-1)", "p0.getValue('previous_N');");
	//log.addCustomColumn("N(t)", "p0.individualCount;");
	//log.addCustomColumn("Ne_heterozygosity", "estimateNe_Heterozygosity(p0, MU);");
	//log.addCustomColumn("Ne_inbreeding", "estimateNe_Inbreeding(p0);");
	//log.addCustomColumn("Ne_inbreeding2", "trackSel_NeInbreeding(p0);");
	
	// schedule SAMPLING BLOCK - IT IS BETTER NOW SPECIFY 
	//community.rescheduleScriptBlock(s0, start=10*N+1, end=10*N+1);
	//community.rescheduleScriptBlock(s1, start=10*N+N, end=10*N+N);

}

// DEMOGRAPHY BLOCK
//s0 999999 early(){
10000 early(){    
    // Instantaneous population size change - Expansion
    // Expansion intensity N*10
    p0.setSubpopulationSize(Nx);
}

10001:11000 early(){
    // THIS FORCES ALL NEW MUTATIONS TO HAVE THE s = Ns/Nx
    sel_muts = sim.mutationsOfType(m2);
    sel_muts.setSelectionCoeff(Ns/Nx);
}

// SAMPLING BLOCK
//s1 999999 late(){
11000 early(){
    m1fsfs = fsfs(p0, m1, n, F);
	 m2fsfs = fsfs(p0, m2, n, F);
	 print(m1fsfs);
	 print("\n");
	 print(m2fsfs);
	 print("\n");
	 print(Ns);   
    
    // Save FSFSs to a file:
	 writeSFS(m1fsfs, paste0("sfs_neutral_" + basename), outDir);
	 writeSFS(m2fsfs, paste0("sfs_selected_" + basename), outDir);
	
	 sim.simulationFinished();
}


